/* TrainTable.css */
.train-table {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
}

.train-table h3 {
  text-align: center;
  color: #333;
}

.train-table table {
  width: 100%;
  border-collapse: collapse;
}

.train-table th, .train-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.train-table th {
  background-color: #f4f4f4;
}
