.TrainTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.TrainTable th,
.TrainTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.TrainTable th {
  background-color: #f2f2f2;
  color: black;
  text-align: left;
}
